[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
arrow = "*"
bs4 = "*"
python-dotenv = "*"
plotly = "*"
psutil = "*"
plotly-orca = "*"

[requires]
python_version = "3.7"
